extends ../layoutFull

block page-wrapper 
    h1 Lista de contatos
    .row(style="text-align:right")
        input.btn.btn-primary(type="button", value="Incluir novo contato",onclick="novo()")
    
    .row
        table#grid-data.table.table-condensed.table-hover.table-striped
          thead
            tr
              th(data-column-id='_id', data-type='numeric') ID
              th(data-column-id='nome') Nome teste
              th(data-column-id='telefones', data-order='desc', data-formatter="telefone") Telefone                
block script
    script.

        $("#grid-data").bootgrid({
            ajax: true,
            post: function ()
            {
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            url: "/api/contatos",
            formatters: {
                "telefone": function(column, row)
                {
                    return row['telefones'][0];
                }
            }
        });
        function novo(){
            window.location = "/contatos/incluir"
        }
