doctype html
html
    head
        title Pagina de Login
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower_components/jquery.bootgrid/dist/jquery.bootgrid.css')
        link(rel='stylesheet', href='/bower_components/metisMenu/dist/metisMenu.css')
        link(rel='stylesheet', href='/public/stylesheets/sb-admin-2/sb-admin-2.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')

    body(cz-shortcut-listen="true")
        block content

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/jquery.bootgrid/dist/jquery.bootgrid.js')
    script(src='/bower_components/metisMenu/dist/metisMenu.js')
    script(src='/public/javascripts/sb-admin-2/js/sb-admin-2.js')
    script(src='/public/javascripts/digitalAgris.js')

    block script